<div ng-controller="topic-controller">

	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href>BusyMind</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse">
            	<ul class="nav navbar-nav">
            		<li>
                        <!-- <form class="navbar-form" role="search"> -->
			                <div class="input-group">
			                    <input type="text" class="form-control" placeholder="Search for.." ng-model="search">
			                    <div class="input-group-btn">
			                        <button class="btn btn-srch" type="button">Search</button>
			                    </div>
			                </div>
			            <!-- </form> -->
                    </li>
            	</ul>
                <ul class="nav navbar-nav navbar-right">
                    
                    
                    <li  class="navbar-links">
                        <button class="btn btn-signout" ng-click="logout()">Signout</button>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

	
	
	<div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 sidebar" >
           	<h3> Add a new Topic </h3>
           	<input type="text" ng-model="new_topic.topic" placeholder="Enter your thought..">
           	
           	<textarea ng-model="new_topic.description" rows=5  placeholder="Enter brief decription.."></textarea>
           	
           	<select ng-model="new_topic.category" class="form-control">
           		<option value="">Select Category</option>
				<option ng-repeat="category in categories | orderBy: 'category'">{{category.category}}</option>
			</select>

			<button class="btn btn-danger" ng-click="addTopic(userinfo._id)">Submit</button> <a href ng-click="showCategory = !showCategory">Add New Category</a> 
			<div ng-show="showCategory">
				<h4> Add New Category </h4>
	           	<input type="text" ng-model="new_category.text" placeholder="Enter Category..">
	           	<button class="btn btn-danger" ng-click="addCategory(new_category)">Add</button>
            </div>


		</div>
		<div class="col-xs-12 col-sm-9  col-md-9 main" >
			<h2> Welcome  {{ userinfo.username }}</h2>
			<h3> Here are some trending thoughts... </h3>
			
				<div class="panel topic" ng-repeat="topic in topics | orderBy: '-created_date'| filter: search">

					<div class="panel-heading">
					   <h4 class="panel-title"><a href="#/user/{{topic._user._id}}" class="username" > {{topic._user.username}}</a> </h4>
					</div>
					<div class="panel-body">
					    <h4><a href="#/topic/{{topic._id}}">{{topic.topic}}</a></h4>
					    ({{topic.posts.length}} Posts)
					</div>
					<p ng-bind="topic.category" class="panel-footer"></p>

					 	<h6 class="ng-hide">{{topic.created_date}}</h6>
					</div>	
				</div>
		</div>
	</div>
	</div>	
</div>	