.navbar-default {
  background-color: #fafafa;
  border:none;
  margin-bottom: 0;
  box-shadow: 10px 10px 5px gray;
}
.navbar-default .navbar-brand{
   color: #fafafa; 
}

.navbar-brand {
  background-color: #B30808;
  margin-right: 380px;
}


.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  background-color: #FFD500;
  color: #222;
}
.navbar-default .navbar-text {
  color: #222;
}
.navbar-header{
 width:70%; 
background-color: #fafafa;
}
.navbar-default .navbar-nav > li > a {
  background-color: #fafafa;
  color: #222;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
 background-color: #FFD500;
  color: #f8f9ff;
  /*line-height: 1.42857143;*/
  border-radius: 6px;

}
.navbar-default .navbar-nav > li > .active{
  background-color: #FFD500;
  color: #f8f9ff;
  line-height: 1.42857143;
  border-radius: 6px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #FFD500;
  color: #222;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #FFD500;
  background-color: #fafafa;
}
.navbar-default .navbar-toggle {
  border-color: #fafafa;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fafafa;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f8f9ff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  background-color: #fafafa;
  border-color: #f8f9ff;

}
.navbar-default .navbar-link {
  color: #f8f9ff;
}
.navbar-default .navbar-link:hover {
  color: #FFD500;
}


.brandicon{
  color:#FFD500;
}
.input-group-btn .btn-srch{
  background-color: #B30808 ;
  color:#fafafa;
  margin: 0px 5px 5px 0px !important;
  padding: 7px 5px 5px 5px !important;

}
.btn.btn-comment{
  background-color: #B30808 ;
  color:#fafafa;
  padding-bottom:7px !important; 
}

.btn.btn-comment.btn-post{
  width:70px ;
}

.btn-signout{
  background-color: #B30808 ;
  color:#fafafa;

}

li > .btn-signout{
  background-color: #B30808;
  margin-top: 7px;
  padding:7px 5px 5px 5px  !important;
}
li > .btn-signout:hover, li >.btn-signout:focus{
  margin: 7px 5px 0 5px;
 background-color: #FFD500;
  color: #222;
  height:35px;
  border-radius: 6px;
}
.btn, .btn-dash{  
  margin: 7px 5px 0 5px;
  padding:7px 5px 0 5px  !important;
}

a.btn-dash{
  margin-left:150px;
}
li > .btn-dash:hover, li >.btn-dash:focus{
  margin: 7px 5px 0 150px;
  background-color: #FFD500;
  height:35px;
  color:#222 !important;
  padding:7px 5px 0 5px  !important;
}


.input-group{
  margin-top:7px;
  margin-left: -25%;
}

.navbar-links{
  margin-right: 40px !important;
}
